<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        @!section('title')
    </title>

@!section('css')

@include('layouts.head')

</head>
<body>

@include('layouts.menu')

@!section('body')

@include('layouts.footer')
@include('layouts.js')

</body>
</html>